<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
                <binding name="BasicHttpBinding_IService12" />
                <binding name="BasicHttpBinding_IService13" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webstrar20.fulton.asu.edu/Page1/WordFilter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WordFilterService.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://webstrar20.fulton.asu.edu/Page1/UserProfile.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
                contract="UserProfileService.IService1" name="BasicHttpBinding_IService11" />
            <endpoint address="http://webstrar20.fulton.asu.edu/Page1/Stemming.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
                contract="StemmingService.IService1" name="BasicHttpBinding_IService12" />
            <endpoint address="http://webstrar20.fulton.asu.edu/Page1/Bowl.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
                contract="BowlService.IService1" name="BasicHttpBinding_IService13" />
        </client>
    </system.serviceModel>
</configuration>
